.build*

.idea/workspace.xml

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/parheliumjs-schema.iml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

projectFilesBackup/.idea/workspace.xml
